@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

  /** Focus reset */

  *:focus:not([tabindex='-1']), button:focus {
    @apply ring-2 ring-offset-2 ring-orange-500;
    outline:transparent;
  }
  *:focus[tabindex='-1'] {
    outline:transparent !important;
  }

  /* .w-override {
  transform:translateX(-50%);
  margin-left:50%;
  @apply w-screen;
} */

/** Scroll margin */
fieldset, label {
  scroll-margin-top:1.5rem;
}

* {
  scroll-margin-bottom:1.5rem;
}


/** Skip navigation */

.global-skipnav:not(:focus) {
  @apply sr-only;
}
.global-skipnav:focus {
  @apply absolute px-4 py-2;
  top: 1rem;
  left: 1rem;
}



  /** Checked/unchecked rows */

  .global-checked:first-child {
    @apply border-t border-transparent;
  }
  .global-checked {
    @apply border-t border-gray-200;
  }
  .global-checked + .global-checked, .global-unchecked {
    @apply border-t border-transparent;
    /* border-bottom: 1px red solid; */
  }
  .global-checked + .global-unchecked {
    @apply border-t border-gray-200;
  }


  /** Radio -> input[type=radio] */

  .global-radio {
    @apply appearance-none bg-white w-[1.25rem] h-[1.25rem] border border-gray-400 rounded-full shadow-sm bg-gradient-to-b from-white to-gray-100;
  }

  .global-radio:checked {
    @apply bg-center bg-no-repeat border-2 border-black;
    background-image:url('/icon/radio-checked.svg');
    background-size: 12px 12px;
  }

  .global-radio:focus {
    @apply ring-2 ring-orange-500 ring-offset-2;
    outline: transparent;
  }


  /** Checkbox -> input[type=checkbox] */

  .global-checkbox {
    @apply appearance-none bg-white w-[1.25rem] h-[1.25rem] border border-gray-400 rounded-[6px] shadow-sm bg-gradient-to-b from-white to-gray-100;
  }

  .global-checkbox:checked {
    @apply bg-center bg-no-repeat bg-black border-black;
    background-image:url('/icon/checkbox-checked.svg');
    background-size: 12px 12px;
  }

  .global-checkbox:focus {
    @apply ring-2 ring-orange-500 ring-offset-2;
    outline: transparent;
  }

  /** Select -> select */
  .global-select {
    @apply appearance-none bg-no-repeat bg-white border border-gray-400 rounded-[6px] px-3 py-2 shadow-sm bg-gradient-to-b from-white to-gray-100;
    background-image:url('/icon/select-arrow.svg');
    background-position: calc(100% - 16px) 50%;
    background-size: 12px 12px;
  }

  .global-select:focus {
    @apply ring-1 ring-offset-0 ring-orange-500 border-orange-500 bg-orange-50;
    outline: transparent;
  }


  /** Textfield -> input[type=text] */

  .global-textfield:focus {
    @apply ring-1 ring-offset-0 ring-orange-500 border-orange-500 bg-orange-50;
    outline: transparent;
  }

}